
	#showMenu ul {
		background-color: #17a2b8;
		background-color: #f5f5f5;
		background-color: lightgreen;
		width: 100%;
		justify-content: center;
		padding-top: 0;
		padding-bottom: 0;
	}
	#showmenu{
		background-color:lightgreen;
	}
	#showMenu ul li {
		padding: 10px;
		border-bottom: 1px solid #eeeff4;
	}

	#showMenu ul li a {
		font-weight: 500 !important;
		color: #ffffff !important;
	}
	#showMenu ul li a:hover {
		font-weight: 500 !important;
		color: black !important;
	}

.second1:hover{
	background-color: white;
	color: black;
	padding: 9px;
}
.one{
	background-color: white;
}
.second1:hover{
	color: black;
	background-color: white;
}
.goal{
	float: left;
}
.third{
 	background-color:#2B2D42 ;
 }
 .last{
	background-color:#2B2D42;
}
.name:hover{
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 5px;
}
/* .plantain{
	background-image: Kcobiplantainflour.jpg;
} */

#map {
	width: 400px;
	height: 400px;
	background-color: grey;
  }
